<!---Hardcoded html for now, replace with proper code-->
<section class="card">
  <h2>Movies</h2>
  <ul>
    <li>Forrest Gump</li>
    <li>Friends</li>
    <li>Lost</li>
    <li>Frozen</li>
    <li>Moana</li>
  </ul>
</section>
<section class="card">
  <h2>Books</h2>
  <ul>
    <li>catcher in the rye</li>
    <li>to kill a mockingbird</li>
    <li>lord of the flies</li>
  </ul>
</section>
<section class="card">
  <h2>Restaurants</h2>
  <ul>
    <li>Osmows</li>
    <li>Second Cup</li>
    <li>Mucho Burrito</li>
    <li>Muncheez</li>
  </ul>
</section>
<section class="card">
  <h2>Products</h2>
  <ul>
    <li>table lamp</li>
    <li>shampoo</li>
    <li>soccer ball</li>
    <li>coffee</li>
  </ul>
</section>
