.login-notification {
  background-color: #ffffff78;
  color: black;
  text-align: center;
  padding: 20px;
  margin: 0px 20px;
  margin-top: 120px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  a { // just in case we want to use links within the notification
    color: #0066ff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    color: black;
    font-family: "Dancing Script", "Permanent Marker", cursive;
    font-size: 18px;
  }
}
